# Timezone (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TZ=America/Bogota

# User/Group IDs (run id to find yours)
PUID=1000
PGID=1000

# n8n
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678
WEBHOOK_URL=http://localhost:5678
N8N_DATA_DIR=./data
