# User/Group IDs (run `id` to find yours)
PUID=1000
PGID=1000

# Timezone (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TZ=America/New_York

# Paths
CONFIG_DIR=/opt/appdata
MEDIA_DIR=/mnt/media
DOWNLOADS_DIR=/mnt/downloads

# FlareSolverr
LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none
