# User/Group IDs (run `id` to find yours)
PUID=1000
PGID=1000

# Timezone (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TZ=America/Bogota

# Base paths
CONFIG_DIR=/opt/appdata

# Hardware adapters
ZIGBEE_ADAPTER_PATH=/dev/ttyUSB0
ZWAVE_ADAPTER_PATH=/dev/ttyACM0

# Home Assistant + suite ports
MQTT_PORT=1883
MQTT_WS_PORT=9011
ZIGBEE2MQTT_PORT=8080
ZWAVEJSUI_PORT=8091
NODERED_PORT=1880
ESPHOME_PORT=6052
MATTER_PORT=5580
